<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h1 th:text="'List of Vets'">List of Vets...</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="vet:${vets}">
            <th th:text="${vet.id}">1</th>
            <th th:text="${vet.firstName}">1</th>
            <th th:text="${vet.lastName}">1</th>
        </tr>
        </tbody>
    </table>
</body>
</html>